.main input{
    width: 20%;
    padding: 5px;
}

/* button{
    padding: 10px 20px;
    background-color: red;
    color:white;
} */

.todo-item{
    background-color: wheat;
    width: 400px;
    height: 400px;
    box-shadow: 4px 5px 10px black;
    padding: 10px;
    margin:auto;
}

li{
    text-align: justify;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}